$accent-color: #ef8354;
$secondary-color: #4f5d75;
$main-font-stack: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
$opacity-filter: grayscale(10%);


html body {
  background-color: cornflowerblue;
  // filter: $opacity-filter;
  height: 100%;
  padding: 0%;
  margin: 0%;
}


h2 {
  font-family: $main-font-stack; 
  font-size: 4rem;
  text-align: center;
  color: $accent-color
}


button {
  display: inlineblock;
  font-family: $main-font-stack;
  color: $secondary-color;
  // background-color: black;
}


#app {
  display: flex;
  flex-wrap: wrap;
}


#eat {
width: 50%;
min-height: 50vh;
background-color: #2D3142;
filter: $opacity-filter
}


#play {
  width: 50%;
  min-height: 50vh;
  // background-color: #4f5d75;
  background-color:#757474;
  filter: $opacity-filter
}


#fight {
  width: 50%;
  min-height: 50vh;
  background-color: #dddddd;
  filter: $opacity-filter
}


#sleep {
  width: 50%;
  min-height: 50vh;
  background-color: #4f5d75;
  filter: $opacity-filter
}
