html body {
  background-color: cornflowerblue;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size: 4rem;
  text-align: center;
  // color: cornflowerblue;
  color: #ef8354;
}

button {
  display: block;
  // justify-content: center;
  // align-items: center;
  // position: relative;
  // left: 50%;
  // top: 50%;
  // display: inline-flex;
  // justify-content: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  // justify-content: space-around;
  // justify-items: center;
  // justify-self: center;
}




#eat {
width: 50%;
min-height: 50vh;
background-color: #2D3142;
filter: grayscale(10%);
}

#play {
  width: 50%;
  min-height: 50vh;
  background-color: #4f5d75;
  filter: grayscale(10%);
}

#fight {
  width: 50%;
  min-height: 50vh;
  background-color:#757474;
  filter: grayscale(10%);
}

#sleep {
  width: 50%;
  min-height: 50vh;
  background-color: #dddddd;
  filter: grayscale(10%);
}
